<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="shortcut icon" href="{{ asset('img/icons/icon-48x48.png') }}" />
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">

		<title>{% block title %}AdminKit Demo - Bootstrap 5 Admin Template{% endblock %}</title>

		{{ importmap('app') }}
	</head>

	<body>
		<div class="wrapper">
			{% include 'incs/sidebar.html.twig' %}

			<div class="main">
				{% include 'incs/navbar.html.twig' %}

				<main class="content">
					{% block content %}{% endblock %}
				</main>

				{% include 'incs/footer.html.twig' %}
			</div>
		</div>
	</body>
</html>